/foodversebackend/._*
/foodversebackend/foodversebackend/._*

foodversebackend/__pycache__/*
foodversebackend/foodversebackend/__pycache__/*
foodversebackend/api/__pycache__/*
foodversebackend/api/migrations/__pycache__/*

._foodversebackend

